@import "tailwindcss";

:root {
  --background: #f8f3ee;
  --foreground: #1f1f1f;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  width: max-content;
  animation: scroll 35s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}